{{ include('LineStormCommentBundle:Comment:script.html.twig') }}

<div class="comment-block"
     data-url-get="{{ url('linestorm_comment_api_get_provider_thread_comments', {provider: provider, thread: id, _format: 'html'}) }}"
     data-url-new="{{ url('linestorm_comment_api_new_provider_thread_comment', {provider: provider, thread: id}) }}">

    <div class="comment-block-new">

    </div>

    <hr />

    {#
    <button class="btn btn-link comments-refresh">
        <i class="fa-refresh"></i> Refresh Comments
    </button>
    #}
    <div class="comment-block-comments">

    </div>

</div>
