<p class="text-muted comments-total">
    {{ comments|length }} Comments
</p>
{% for comment in comments %}
    {{ include('LineStormCommentBundle:Comment:view.html.twig', {comment: comment}) }}
{% endfor %}
