{% extends 'LineStormCmsBundle:Admin:index.html.twig' %}

{% block page_title %}Comments{% endblock %}

{% block module %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content Node</th>
                <th>Author</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

{% endblock %}
